:root {
  /* primary colors */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* gradients */
  --Light-slate-blue: hsl(252, 100%, 67%); /* background */
  --Light-royal-blue: hsl(241, 81%, 54%); /* background */
  --Violet-blue: hsla(256, 72%, 46%, 1); /* circle */
  --Persian-blue: hsla(241, 72%, 46%, 0); /* circle */
  /* neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  /* font size */
  --font-size: 1.125rem;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 20%;  /* TODO */
    font-family: 'Hanken Grotesk', sans-serif;
}

main{
    display: flex;
    background: var(--White);
    box-shadow: 2px 2px 20px rgb(140, 137, 137);
    border-radius: 1.5rem;
}

.left-side{
    background: linear-gradient(180deg,var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 1.5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side > h1 {
    color: var(--Light-lavender);
    font-size: 1.2rem;
}

.left-side #marks{
    /* border: 1px solid red; */
    padding: 2rem 3rem; /* to get a square so that I can get a full circle */
    border-radius:50%;
    color: var(--Light-lavender);
    background: linear-gradient(to top, var(--Light-slate-blue), var(--Light-royal-blue));
    
}
#marks > strong{
    /* border: 1px solid red; */
    display: block;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--White);
}

.left-side .remarks{
    color: var(--White);
    font-size: 1.5rem;
    margin: 0;
}

.left-side .facts{
    width: 60%;
    text-align: center;
    color: var(--Light-lavender);
    font-size: 0.75rem;
}

.characteristics{
    display: flex;
}

