*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(43, 111, 175, 0.856);
    font-family: calibri;
}
.container{
    width: 300px;
    height: auto;
    margin: 150px auto;
    border-radius: 13px;
}
.head_container{
    width: 300px;
    height: auto;
    background: white;
    margin: 150px auto 0px auto;
    text-align: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 10px;
    font-family: calibri ;
}
.main_container{
    width: 300px;
    height: auto;
    background: rgb(218, 214, 214);
    margin: auto;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 20px;
}
.container:hover{
    box-shadow: 2px 2px 10px rgba(204, 45, 45, 0.87);
}
.block{
    margin: 10px;
    font-weight: bold;
    display: inline-block;
}
.block:hover{
    transform: scale(1.2);
}
.text{
    text-align: left;
    margin-bottom: 5px;
}
input[type="text"]{
    width: 63px;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    outline: none;
}
input[type="text"]:hover{
    background: white;
}
input[type="submit"]{
    margin-top: 20px;
    margin-left: 80px;
    padding: 6px;
    border: 0px;
    border-radius: 4px;
    background: rgba(22, 22, 224, 0.856);
    color: white;
    font-weight: 700;
    font-size: large;
}
input[type="submit"]:hover{
    transform: scale(1.3);
}
input[type="submit"]:focus{
    outline: green;
}